* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,35,72,1) 26%, rgba(1,44,81,1) 35%, rgba(1,49,87,1) 66%, rgba(1,51,89,1) 76%, rgba(1,66,104,1) 88%, rgba(1,70,108,1) 100%, rgba(0,212,255,1) 100%);
    font-family: 'Courier New', Courier, monospace;

}

nav {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
    text-shadow: 2px 1px 2px black;
    color: white;
}

.welcome {
    padding-bottom: 3rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form div {
    margin-bottom: 1rem;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 4rem;
    color: white;
}

#appender {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-items: center; */
    gap: 1rem;
    margin: 2rem;
}

.weather-cont {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-weight: bolder;
    text-shadow: 1px 0px 1px rgb(121, 121, 228);
    height: 4%vh; /* incorrect property values */
    width: 4%vw;  /* incorrect property values */
    border: 2px solid black;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding: 1rem 1rem;
    gap: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,166,226,1) 0%, rgba(0,212,255,1) 0%, rgba(1,49,87,1) 0%, rgba(1,49,87,1) 2%, rgba(1,49,87,1) 5%, rgba(1,51,89,1) 100%, rgba(1,44,81,1) 100%, rgba(1,70,108,1) 100%); */
}

.clouds {
    background-image: url("../img/clouds.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
}

.mist {
    background-image: url("../img/mist.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
} 

.rain {
    background-image: url("../img/rain.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
} 

.snow {
    background-image: url("../img/snow.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
} 

.clear {
    background-image: url("../img/clear.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
} 

.smoke {
    background-image: url("../img/smoke.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
}

.thunder {
    background-image: url("../img/thunder.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
}

.drizzle {
    background-image: url("../img/drizzle.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
}

.fog {
    background-image: url("../img/fog.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
}

.haze {
    background-image: url("../img/haze.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
}

.dust {
    background-image: url("../img/dust.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
}

.ash {
    background-image: url("../img/ash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
}

.tornado {
    background-image: url("../img/tornado.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
}

.squall {
    background-image: url("../img/squall.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
}

.center-header {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
}